.current-weather {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    
    .current-weather__date {
      font-size: 14px;
      margin-bottom: 40px;
      color: #828282;
      font-weight: normal;
    }
    
    .current-weather__temp {
      position: relative;
      font-size: 40px;
      margin-top: 0;
      
      &:after {
        content: 'o';
        position: absolute;
        top: 0;
        font-size: 20px;
      }
    }
    
  }